.row {
  *zoom: 1;
}

.row:after,.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.rkCarousel104_pagination {
  position: absolute;
}

.rkCarousel104,.rkCarousel104_next,.rkCarousel104_previous {
  position: relative;
}

.rkCarousel103_description {
  display: block;
}

.rkCarousel101 button svg,.rkCarousel101_pagebuttons,.rkCarousel102 button svg,.rkCarousel102_pagebuttons,.rkCarousel103 button svg,.rkCarousel103_pagebuttons,.rkCarousel104_next,.rkCarousel104_pagebuttons,.rkCarousel104_previous {
  display: inline-block;
}

[type=reset],[type=submit],body,button,div,h1,h2,h3,h4,h5,h6,html,i,nav,span {
  margin: 0;
  padding: 0;
}

.rkCarousel101_pagebuttons {
  padding: 4px;
}

.rkCarousel101_pagination,.rkCarousel101_prevnext,.rkCarousel102_pagination,.rkCarousel102_prevnext,.rkCarousel103_pagination,.rkCarousel103_prevnext,.rkCarousel104_pagination {
  text-align: center;
}

*,:after,:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,h1,h2,h3,h4,h5,h6,html,i,nav,span {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav {
  display: block;
}

body {
  line-height: 1;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

main {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

/*! system-font.css v1.1.0 | CC0-1.0 License | github.com/jonathantneal/system-font-face */

@font-face {
  font-family: system_normal--300;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Segoe UI Light"),local("Ubuntu Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma");
}

@font-face {
  font-family: system_italic--300;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"),local(".HelveticaNeueDeskInterface-Italic"),local(".LucidaGrandeUI"),local("Segoe UI Light Italic"),local("Ubuntu Light Italic"),local("Roboto-LightItalic"),local("DroidSans"),local("Tahoma");
}

@font-face {
  font-family: system_normal--400;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"),local(".HelveticaNeueDeskInterface-Regular"),local(".LucidaGrandeUI"),local("Segoe UI"),local("Ubuntu"),local("Roboto-Regular"),local("DroidSans"),local("Tahoma");
}

body {
  font-family: system_normal--300;
}

[type=reset],[type=submit],button {
  font-family: sans-serif;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:37.5em) {
  .col-sm-1,  .col-sm-2,  .col-sm-3,  .col-sm-4,  .col-sm-5,  .col-sm-6,  .col-sm-7,  .col-sm-8,  .col-sm-9,  .col-sm-10,  .col-sm-11,  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width:50em) {
  .col-sm-1,  .col-sm-2,  .col-sm-3,  .col-sm-4,  .col-sm-5,  .col-sm-6,  .col-sm-7,  .col-sm-8,  .col-sm-9,  .col-sm-10,  .col-sm-11,  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}

.rkCarousel101 {
  background-color: #2a2a2d;
  color: #fff;
}

.rkCarousel101 button {
  background-color: #bab9b9;
  border: 1px solid #000;
}

.rkCarousel101 button svg {
  fill: #fff;
}

.rkCarousel101 button:hover {
  background-color: #fff;
}

.rkCarousel101 button:hover svg {
  fill: #be0101;
}

.rkCarousel101_content {
  background-color: #1c1d22;
}

.rkCarousel101_pagebuttons {
  color: #fff;
  background-color: #343437;
  border: 1px solid #5c5d60;
}

.rkCarousel101_pagebuttons:hover {
  background-color: #fff;
  color: #be0101;
}

.rkCarousel101 button {
  cursor: pointer;
}

.rkCarousel101 button span {
  vertical-align: middle;
}

.rkCarousel101 button svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.rkCarousel101_previous {
  padding: 4px 4px 4px 0;
}

.rkCarousel101_next {
  padding: 4px 0 4px 4px;
}

.rkCarousel101_content {
  height: 50px;
}

.rkCarousel101_pagination {
  padding: 6px 0;
}

.rkCarousel101_pagebuttons {
  margin-right: 4px;
  cursor: pointer;
}

.rkCarousel102 {
  background-color: #2a2a2d;
  color: #fff;
}

.rkCarousel102 button {
  background-color: #bab9b9;
  border: 1px solid #000;
}

.rkCarousel102 button svg {
  fill: #fff;
}

.rkCarousel102 button:hover {
  background-color: #fff;
}

.rkCarousel102 button:hover svg {
  fill: #be0101;
}

.rkCarousel102_content {
  background-color: #1c1d22;
}

.rkCarousel102_pagebuttons {
  color: #fff;
  background-color: #343437;
  border: 1px solid #fff;
}

.rkCarousel102_pagebuttons:hover {
  background-color: #fff;
  color: #be0101;
}

.rkCarousel102_active {
  background-color: #be0101;
  border: 1px solid #000;
}

.rkCarousel102 button {
  border: 1px solid #000;
  cursor: pointer;
}

.rkCarousel102 button span {
  vertical-align: middle;
}

.rkCarousel102 button svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.rkCarousel102_previous {
  padding: 4px 4px 4px 0;
}

.rkCarousel102_next {
  padding: 4px 0 4px 4px;
}

.rkCarousel102_pagination {
  padding: 6px 0;
}

.rkCarousel102_content {
  height: 50px;
}

.rkCarousel102_pagebuttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

.rkCarousel103 {
  background-color: #2a2a2d;
  color: #fff;
}

.rkCarousel103 button {
  background-color: #bab9b9;
  border: 1px solid #000;
}

.rkCarousel103 button svg {
  fill: #fff;
}

.rkCarousel103 button:hover {
  background-color: #fff;
}

.rkCarousel103 button:hover svg {
  fill: #be0101;
}

.rkCarousel103_content {
  background-color: #1c1d22;
}

.rkCarousel103_pagebuttons {
  color: #fff;
  background-color: #343437;
  border: 1px solid #fff;
}

.rkCarousel103_pagebuttons:hover {
  background-color: #fff;
  color: #be0101;
}

.rkCarousel103_active {
  background-color: #be0101;
  border: 1px solid #000;
}

.rkCarousel103_description {
  border-top: 1px dashed #343437;
}

.rkCarousel103 button {
  border: 1px solid #000;
  cursor: pointer;
}

.rkCarousel103 button span {
  vertical-align: middle;
}

.rkCarousel103 button svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.rkCarousel103_previous {
  padding: 4px 4px 4px 0;
}

.rkCarousel103_next {
  padding: 4px 0 4px 4px;
}

.rkCarousel103_pagination {
  padding: 4px 0;
}

.rkCarousel103_pagebuttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

.rkCarousel103_description {
  height: 50px;
}

.rkCarousel104 {
  background-color: #2a2a2d;
  color: #fff;
}

.rkCarousel104_pagebuttons {
  color: #fff;
  background-color: #bab9b9;
  border: 1px solid #fff;
}

.rkCarousel104_pagebuttons:hover {
  background-color: #fff;
}

.rkCarousel104_active {
  background-color: #be0101;
  border: 1px solid #000;
}

.rkCarousel104_description {
  border-top: 1px dashed #343437;
}

.rkCarousel104_content {
  background-color: #1c1d22;
}

.rkCarousel104_next,.rkCarousel104_previous {
  color: #fff;
  background-color: #343437;
  border: 1px solid #5c5d60;
}

.rkCarousel104_next svg,.rkCarousel104_previous svg {
  fill: #fff;
}

.rkCarousel104_next:hover,.rkCarousel104_previous:hover {
  background-color: #fff;
  border: none;
}

.rkCarousel104_next:hover svg,.rkCarousel104_previous:hover svg {
  fill: #be0101;
}

.rkCarousel104:hover .rkCarousel104_prevnext {
  visibility: visible;
}

.rkCarousel104_pagebuttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}

.rkCarousel104_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s,opacity .5s ease-in;
}

.rkCarousel104_items--active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.rkCarousel104_description {
  height: 100px;
}

.rkCarousel104_pagination {
  width: 100%;
  bottom: 10%;
  z-index: 3;
}

.rkCarousel104_prevnext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.rkCarousel104_next,.rkCarousel104_previous {
  padding: 10px;
  height: 100%;
  cursor: pointer;
}

.rkCarousel104_next svg,.rkCarousel104_previous svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.rkCarousel104_next {
  float: right;
}

.rkCarousel104_chevron {
  width: 24px;
  height: 24px;
}

[class|=col] {
  position: relative;
  min-height: 1px;
  border: 1px solid #000;
}

.item-id {
  background-color: #ccc;
}